*{
    padding: 0;
    margin: 0px;
    text-decoration: none;
}
.about-me{
    background-color: white;
    width: auto;
    height: 1080px;

}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
    background: rgb(253,255,237);
background: linear-gradient(90deg, rgba(253,255,237,1) 0%, rgba(134,74,14,1) 48%, rgba(255,245,248,1) 100%);
    border-bottom: 5px solid black;
    color: black;
    font-size: 35px;
}
i{
    color: black;
   
}
.isi p{
    padding-top: 20px;
}
.isi img{
   
    width:300px;
    height:400px;
    padding-top: 20px;
    border: 20px;
    border-radius: 5px solid red ;
 }
 .isi i{padding-top: 20px;
    
    
    color: black
 }
 .isi a{
    font-size: 25px;
    font: bold;
    background-color: wheat;
    color: black;
    border: 2px solid black;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 30px;
    transition: 2s;
 }
 .isi a i :hover{
    transform: scale(1.2);
    border: 2px solid red;
    background-color: transparent;
 }
@media only screen and (min-width: 1080px){

}

@media only screen and (max-width:400px){
.isi img{
   
   width:200px;
   height:300px; ;
}
}
    
