*{
    text-decoration: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}

.calculator {
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #333;
    width: 400px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: none;
    background-color: #f3f3f3;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #666;
    color: #fff;
}

button:hover {
    background-color: #555;
}
.Bawah{
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #666;
    color: #fff;
}
.Bawah a{
    color: white;
}
